<div class="talks">
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {% for talk in include.talks %}
        <tr>
          <th scope="row" style="width: 20%">{{ talk.date }}</th>
          <td>
            {% if talk.event_url != blank %}
              <strong><a href="{{ talk.event_url }}" target="_blank" rel="noopener noreferrer">{{ talk.event }}</a></strong>
            {% else %}
              <strong>{{ talk.event }}</strong>
            {% endif -%}
            {%- if talk.role != blank %}. <em>{{ talk.role }}</em>{% endif %}.
            {% if talk.location != blank %}
              <br>
              {{ talk.location }}.
            {% endif %}
            {% if talk.based_on != blank %}
              <br>
              Based on:
              {% if talk.based_on_url != blank %}
                <a href="{{ talk.based_on_url }}" target="_blank" rel="noopener noreferrer">{{ talk.based_on }}</a>.
              {% else %}
                {{ talk.based_on }}.
              {% endif %}
            {% endif %}
            {% if talk.slides != blank and talk.slides_url != blank %}
              {% if talk.slides_url contains '://' %}
                {% assign slides_url = talk.slides_url %}
              {% else %}
                {% assign slides_url = talk.slides_url | relative_url %}
              {% endif %}
              <br>
              <a href="{{ slides_url }}" target="_blank" rel="noopener noreferrer">{{ talk.slides }}</a>.
            {% elsif talk.slides != blank %}
              <br>
              {{ talk.slides }}.
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
